{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}